@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
html {
    --primary-btn-color: #009f00;
    --main-btn-color:#206b1f;
    --main-bg-color: #ededed;
    --act-bg-color: #d1bb9c;
    background-color: var(--main-bg-color);
}

body {
    min-width: 800px;
    width: 75vw;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    min-height: 100vh;
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}

form {
    width: 100%;
}

header {
    background-color: var(--act-bg-color);
    padding: 0px 15px;
}

footer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: var(--act-bg-color);
    box-sizing: border-box;
    padding: 15px;
}

/* start templates */
.borderless {
    border: none !important;
}

h2.section {
    border-bottom: 1px solid var(--act-bg-color);
    margin-bottom:0;
}

.inline {
    display: inline-block;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.flex-wrapper div {
    width: 100%;
    border: 1px solid gray;
    /* display: inline-block; */
}

.flex-end {
    justify-content: flex-end;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

button.button,
input.button {
    background-color: var(--main-btn-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

a.button {
    color: white;
    background-color: var(--main-btn-color);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button.disabled {
    background-color: gray;
}

.button.disabled:hover {
    text-decoration: none;
}

.button.primary {
    background-color: var(--primary-btn-color);
}
.button.warning {
    background-color: #d23c3c;
}

/* page specific! */

/* CART */
#checkout h3,
#checkout p {
    margin-right: 11%;
}

/* CONFIRM */
#shipping input {
    margin-top: 15px;
}

label[for='apt']  {
    margin-left: 15px;
}